.content-background-one, .content-background-two {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-background-one {
  background: #45A29E;
}

.content-background-two {
  background: #C5C6C7;
}

.content-items {
  margin-bottom: 0;
}
