.footer-page {
  background: #1F2833;
}

.social-icon-footer {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #C5C6C7;
}

.copyright-footer {
  padding-bottom: 10px;
  color: #C5C6C7;
  margin-bottom: 0;
}

.footer-alt-colour {
  background: #45A29E;
}
