.workflow-component {
  background: #efefef;
  display: flex;
  padding: 40px 5%;
  justify-content: space-between;
  align-items: center;
}

.workflow-writeup {
  text-align: justify;
  flex: 1;
  margin: 0 30px;
}

.workflow-writeup h1 {
  font-size: 300%;
  font-weight: 100;
  padding-bottom: 10px;
  text-align: left;
}

.workflow-writeup h3 {
  font-size: 180%;
  padding-bottom: 10px;
}

.workflow-writeup p {
  font-size: 130%;
  line-height: 1.5;
}

.workflow-component img {
  max-width: 100%;
}

.workflow-picture {
  flex: 3;
}

@media only screen and (max-width: 1050px) {
  .workflow-component {
    display: block;
    text-align: center;
  }

  .workflow-picture {
    padding-bottom: 20px;
  }
}
