.projects-page-content {
  background-color: #f7f7f7;
}

.project-component {
  display: flex;
  padding: 30px 12%;
  justify-content: space-between;
}

.project-writeup {
  text-align: justify;
  flex: 1;
  margin: 0 30px;
}

.project-picture {
  flex: 1;
}

.project-writeup h1 {
  font-size: 300%;
  font-weight: 100;
  padding-bottom: 10px;
}

.project-writeup h3 {
  font-size: 180%;
  padding-bottom: 10px;
}

.project-writeup p {
  font-size: 140%;
  line-height: 1.5;
}

.project-component-flipped {
  background-color: #efefef;
}

.project-component img {
  max-width: 100%;
}
